<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDjg9AeUg35sUhQ-LhU3m6CKP_9JuM6UhE</string>
	<key>GCM_SENDER_ID</key>
	<string>116150637871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trever.ios</string>
	<key>PROJECT_ID</key>
	<string>trever-ec541</string>
	<key>STORAGE_BUCKET</key>
	<string>trever-ec541.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116150637871:ios:60323700b6fcf54f853dda</string>
	<key>DATABASE_URL</key>
	<string>https://trever-ec541-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>